<app-card titulo="Pc novinho" corBtn="blue"></app-card>
<app-card titulo="Just Do It" 
banner="https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" corBtn="red"></app-card>
<app-uploader (uploadCompleto)="mostrarMsg()"></app-uploader>
<!-- Ao clicar no butão desejo executar a função do-->
<!--Variáveis de Template -->
<input type="file" #inputFile>
<button id="btn" (click)="inputFile.click()"> Selecionar arquivo</button>